@import "tailwindcss";

.blog-content ul {
  list-style-type: disc;
  padding-left: 1.25rem; 
  margin-bottom: 1rem;
}

.blog-content ol {
  list-style-type: decimal; 
  padding-left: 1.25rem;
  margin-bottom: 1rem;
}

.blog-content li {
  margin-bottom: 0.5rem;
}
